.titleLink {
  display: flex;
  font-size: 18px;
  margin-right: 10px;
  height: 100%;
  align-items: center;
  color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;

  &:hover {
    color: #d1d5db;
  }
}
#topNavigate {
  nav {
    background-color: #20232a;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
  }
}
